<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <param name="target" value="SYSTEM_OUT"/>
        <encoder>
            <pattern>[%d{dd MMM yy HH:mm:ss}] %c %L %-5p %X{rid} - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="ConsoleAppender" />
    </root>

    <logger name="com.calendly.mini" level="DEBUG" additivity="false">
        <appender-ref ref="ConsoleAppender" />
    </logger>

</configuration>